## 수도권매립지관리공사
[생활폐기물 반입 총량제현황](https://dream-ics.slc.or.kr/cp/st/st0006/cpst0006/viewList.do#;)

In [1]:
import pandas as pd
import requests

In [2]:
# url = "https://dream-ics.slc.or.kr/cp/st/st0006/cpst0006/viewList.do"

base_url = "https://dream-ics.slc.or.kr/cp/st/st0006/cpst0006/selectListView.do"

In [3]:
params = "sDate=2020-10&eDate=2020-10&arGrpCd="

In [4]:
url = f"{base_url}?{params}"

In [5]:
response = requests.post(url)

In [6]:
response_json = response.json()

In [7]:
data_list = response_json["list"]
data_list[:2]

[{'RATE': 1.8,
  'ORD': 1,
  'WT_1001': 11616,
  'WT_1002': 0,
  'AR_GRP_CD': None,
  'AR_NM': None,
  'ASGN_QY': 634359,
  'AR_CD': 'totalsum'},
 {'RATE': 2.5,
  'ORD': 2,
  'WT_1001': 6792,
  'WT_1002': 0,
  'AR_GRP_CD': '01',
  'AR_NM': None,
  'ASGN_QY': 275598,
  'AR_CD': '000'}]

In [8]:
df = pd.DataFrame(data_list)

In [9]:
def get_year_month(year, month):
    base_url = "https://dream-ics.slc.or.kr/cp/st/st0006/cpst0006/selectListView.do"
    if month < 10:
        month = f"0{month}"
    params = f"sDate={year}-{month}&eDate={year}-{month}&arGrpCd="
    url = f"{base_url}?{params}"
    response = requests.post(url)
    response_json = response.json()
    data_list = response_json["list"]
    df = pd.DataFrame(data_list)
    df["연"] = year
    df["월"] = month
    return df

In [10]:
# get_year_month(2012, 2)

In [11]:
from tqdm import trange
import time

temp_list = []
for year in trange(2004, 2021):
    for month in range(1, 13):
        temp = get_year_month(year, month)
        temp_list.append(temp)
        time.sleep(1)

100%|██████████| 17/17 [18:03<00:00, 63.76s/it]

In [12]:
df = pd.concat(temp_list)

In [13]:
df.to_csv("city_garbage_2004_2020.csv", index=False)

In [14]:
pd.read_csv("city_garbage_2004_2020.csv")

,RATE,ORD,WT_1001,WT_1002,AR_GRP_CD,AR_NM,ASGN_QY,AR_CD,연,월
0,0.0,1,168519,244,NaN,NaN,0,totalsum,2004,1
1,0.0,2,125079,85,1.0,NaN,0,000,2004,1
2,0.0,2,6518,0,1.0,서울시종로구,0,100,2004,1
3,0.0,2,6658,0,1.0,서울시중구,0,102,2004,1
4,0.0,2,4868,0,1.0,서울시용산구,0,104,2004,1
...,...,...,...,...,...,...,...,...,...,...
19090,0.0,2,0,0,4.0,경기도안성시,1350,472,2020,12
19091,0.0,2,0,0,4.0,경기도가평군,2700,473,2020,12
19092,0.0,2,0,0,4.0,경기도용인시,648,474,2020,12
19093,0.0,2,0,0,4.0,경기도여주시,810,475,2020,12
19094,0.0,2,0,0,4.0,경기도양평군,1188,476,2020,12