## 네트워크의 JS탭을 확인

In [2]:
import pandas as pd

In [3]:
url = "https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc"

In [27]:
# requests 라이브러리를 통해 url을 받아옵니다.
import requests
response = requests.get(url)

In [11]:
# requests 의 응답을 json 타입으로 받습니다.
etf_json = response.json()

In [12]:
# result > etfItemList 의 하위 구조로 목록을 찾아 들어갑니다.
etfItemList = etf_json["result"]["etfItemList"]

In [13]:
df = pd.DataFrame(etfItemList)
df.shape

(450, 12)

In [14]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,31420,5,-205,-0.65,31502.0,8.5762,3642902,114615,47916
1,102110,1,TIGER 200,31420,5,-180,-0.57,31502.0,8.5649,889443,27984,26471
2,252670,3,KODEX 200선물인버스2X,4125,2,65,1.60,4131.0,-19.5243,92658294,380950,24181
3,122630,3,KODEX 레버리지,15065,5,-230,-1.50,15142.0,15.7834,25797026,389939,21121
4,153130,6,KODEX 단기채권,102465,3,0,0.00,102468.0,0.0976,11274,1155,17629

In [15]:
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
445,295820,1,ARIRANG 200동일가중,8560,5,-60,-0.70,8573.0,7.8173,23,0,21
446,287300,2,KBSTAR 200건설,8025,5,-185,-2.25,8020.0,-0.4245,31,0,21
447,284980,2,KBSTAR 200금융,6590,5,-45,-0.68,6606.0,-2.4982,142,0,20
448,287310,2,KBSTAR 200경기소비재,8485,5,-15,-0.18,8481.0,12.1372,12,0,15
449,266140,2,TIGER 지속배당,11990,5,-95,-0.79,12042.0,4.8590,3,0,11

In [17]:
df.sort_values(["quant"], ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,4125,2,65,1.60,4131.0,-19.5243,92658294,380950,24181
3,122630,3,KODEX 레버리지,15065,5,-230,-1.50,15142.0,15.7834,25797026,389939,21121
22,251340,3,KODEX 코스닥150선물인버스,5135,2,70,1.38,5143.0,-15.6537,20599715,105550,5299
8,114800,3,KODEX 인버스,5440,2,50,0.93,5438.0,-9.7153,16146523,87613,12001
11,233740,1,KODEX 코스닥150 레버리지,13605,5,-345,-2.47,13774.0,30.3129,8627480,117925,9687
0,069500,1,KODEX 200,31420,5,-205,-0.65,31502.0,8.5762,3642902,114615,47916
29,229200,1,KODEX 코스닥 150,13610,5,-170,-1.23,13769.0,16.0909,2288460,31186,3824
59,252710,3,TIGER 200선물인버스2X,4260,2,60,1.43,4261.0,-19.1531,2165335,9191,1282
21,261220,5,KODEX WTI원유선물(H),5870,5,-130,-2.17,NaN,-2.2005,958030,5625,5540
1,102110,1,TIGER 200,31420,5,-180,-0.57,31502.0,8.5649,889443,27984,26471

In [25]:
df_inverse = df[df.itemname.str.contains("인버스")]

In [21]:
df_not_inverse = df[~df.itemname.str.contains("인버스")]
df_not_inverse

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,31420,5,-205,-0.65,31502.0,8.5762,3642902,114615,47916
1,102110,1,TIGER 200,31420,5,-180,-0.57,31502.0,8.5649,889443,27984,26471
3,122630,3,KODEX 레버리지,15065,5,-230,-1.50,15142.0,15.7834,25797026,389939,21121
4,153130,6,KODEX 단기채권,102465,3,0,0.00,102468.0,0.0976,11274,1155,17629
5,273130,6,KODEX 종합채권(AA-이상)액티브,110405,5,-65,-0.06,110377.0,-0.0182,1523,168,13432
...,...,...,...,...,...,...,...,...,...,...,...,...
445,295820,1,ARIRANG 200동일가중,8560,5,-60,-0.70,8573.0,7.8173,23,0,21
446,287300,2,KBSTAR 200건설,8025,5,-185,-2.25,8020.0,-0.4245,31,0,21
447,284980,2,KBSTAR 200금융,6590,5,-45,-0.68,6606.0,-2.4982,142,0,20
448,287310,2,KBSTAR 200경기소비재,8485,5,-15,-0.18,8481.0,12.1372,12,0,15
449,266140,2,TIGER 지속배당,11990,5,-95,-0.79,12042.0,4.8590,3,0,11

In [26]:
df_inverse.sort_values(by=["quant"], ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,4125,2,65,1.60,4131.0,-19.5243,92658294,380950,24181
22,251340,3,KODEX 코스닥150선물인버스,5135,2,70,1.38,5143.0,-15.6537,20599715,105550,5299
8,114800,3,KODEX 인버스,5440,2,50,0.93,5438.0,-9.7153,16146523,87613,12001
59,252710,3,TIGER 200선물인버스2X,4260,2,60,1.43,4261.0,-19.1531,2165335,9191,1282
125,250780,3,TIGER 코스닥150선물인버스,5230,2,75,1.45,5232.0,-15.4919,495452,2583,329
111,252420,3,KBSTAR 200선물인버스2X,4125,2,75,1.85,4130.0,-19.8020,359990,1481,384
169,253160,3,ARIRANG 200선물인버스2X,8220,2,125,1.54,8227.0,-19.6128,212473,1741,222
77,123310,3,TIGER 인버스,5970,2,40,0.67,5976.0,-9.6037,176134,1049,734
167,306520,3,HANARO 200선물인버스,12445,2,75,0.61,12443.0,-9.4768,65239,808,230
306,253230,3,KOSEF 200선물인버스2X,4075,2,15,0.37,4096.0,-19.2843,37656,153,82

In [24]:
df_not_inverse.sort_values(by=["quant"], ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
3,122630,3,KODEX 레버리지,15065,5,-230,-1.50,15142.0,15.7834,25797026,389939,21121
11,233740,1,KODEX 코스닥150 레버리지,13605,5,-345,-2.47,13774.0,30.3129,8627480,117925,9687
0,069500,1,KODEX 200,31420,5,-205,-0.65,31502.0,8.5762,3642902,114615,47916
29,229200,1,KODEX 코스닥 150,13610,5,-170,-1.23,13769.0,16.0909,2288460,31186,3824
21,261220,5,KODEX WTI원유선물(H),5870,5,-130,-2.17,NaN,-2.2005,958030,5625,5540
1,102110,1,TIGER 200,31420,5,-180,-0.57,31502.0,8.5649,889443,27984,26471
61,267770,3,TIGER 200선물레버리지,11345,5,-185,-1.60,11350.0,15.9376,816087,9300,1191
98,219390,4,KBSTAR 미국S&P원유생산기업(합성 H),2035,5,-110,-5.13,NaN,-28.2609,625610,1281,504
55,130680,5,TIGER 원유선물Enhanced(H),1925,5,-20,-1.03,NaN,1.5665,615267,1182,1529
17,278540,1,KODEX MSCI Korea TR,10000,5,-80,-0.79,10024.0,8.1545,574649,5761,6960

In [28]:
df["etfTabCode"].value_counts()

2    165
4     85
1     62
6     56
3     35
7     33
5     14
Name: etfTabCode, dtype: int64

In [38]:
df[df["etfTabCode"] == 1]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,31420,5,-205,-0.65,31502.0,8.5762,3642902,114615,47916
1,102110,1,TIGER 200,31420,5,-180,-0.57,31502.0,8.5649,889443,27984,26471
9,278530,1,KODEX 200TR,10060,5,-60,-0.59,10100.0,8.5254,35834,361,11514
10,148020,1,KBSTAR 200,31450,5,-235,-0.74,31547.0,8.7822,6037,190,9860
11,233740,1,KODEX 코스닥150 레버리지,13605,5,-345,-2.47,13774.0,30.3129,8627480,117925,9687
...,...,...,...,...,...,...,...,...,...,...,...,...
388,252000,1,TIGER 200동일가중,9505,2,5,0.05,9481.0,7.5268,20,0,52
390,291610,1,KOSEF 코스닥150선물,8760,5,-120,-1.35,8738.0,15.7757,357,3,52
403,226980,1,KODEX 200 중소형,9790,5,-15,-0.15,9782.0,14.5443,51,0,49
406,301400,1,ARIRANG 코스닥150,13570,5,-130,-0.95,13654.0,15.1744,7041,95,47
445,295820,1,ARIRANG 200동일가중,8560,5,-60,-0.70,8573.0,7.8173,23,0,21

In [33]:
df[df["etfTabCode"] == 2]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
6,102780,2,KODEX 삼성그룹,7700,2,25,0.33,7703.0,4.3507,126188,973,13144
18,292150,2,TIGER TOP10,10775,5,-70,-0.65,10776.0,13.4295,167039,1797,6158
24,305720,2,KODEX 2차전지산업,12420,5,-230,-1.82,12428.0,33.0878,417347,5198,4198
30,305540,2,TIGER 2차전지테마,12020,5,-225,-1.84,12020.0,32.0927,462548,5579,3684
31,315930,2,KODEX Top5PlusTR,13575,5,-75,-0.55,13596.0,3.7234,250,3,3625
...,...,...,...,...,...,...,...,...,...,...,...,...
443,285020,2,KBSTAR 200철강소재,5400,5,-50,-0.92,5390.0,-5.8722,2,0,23
446,287300,2,KBSTAR 200건설,8025,5,-185,-2.25,8020.0,-0.4245,31,0,21
447,284980,2,KBSTAR 200금융,6590,5,-45,-0.68,6606.0,-2.4982,142,0,20
448,287310,2,KBSTAR 200경기소비재,8485,5,-15,-0.18,8481.0,12.1372,12,0,15
449,266140,2,TIGER 지속배당,11990,5,-95,-0.79,12042.0,4.8590,3,0,11

In [34]:
df[df["etfTabCode"] == 3]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,4125,2,65,1.60,4131.0,-19.5243,92658294,380950,24181
3,122630,3,KODEX 레버리지,15065,5,-230,-1.50,15142.0,15.7834,25797026,389939,21121
8,114800,3,KODEX 인버스,5440,2,50,0.93,5438.0,-9.7153,16146523,87613,12001
22,251340,3,KODEX 코스닥150선물인버스,5135,2,70,1.38,5143.0,-15.6537,20599715,105550,5299
59,252710,3,TIGER 200선물인버스2X,4260,2,60,1.43,4261.0,-19.1531,2165335,9191,1282
61,267770,3,TIGER 200선물레버리지,11345,5,-185,-1.60,11350.0,15.9376,816087,9300,1191
77,123310,3,TIGER 인버스,5970,2,40,0.67,5976.0,-9.6037,176134,1049,734
84,282000,3,KBSTAR 국고채3년선물인버스,99405,2,35,0.04,99384.0,0.1764,3,0,627
104,252400,3,KBSTAR 200선물레버리지,13715,5,-225,-1.61,13708.0,16.3606,20986,288,453
111,252420,3,KBSTAR 200선물인버스2X,4125,2,75,1.85,4130.0,-19.8020,359990,1481,384
125,250780,3,TIGER 코스닥150선물인버스,5230,2,75,1.45,5232.0,-15.4919,495452,2583,329
138,253250,3,KOSEF 200선물레버리지,13470,5,-300,-2.18,13539.0,16.1045,7135,96,283
143,123320,3,TIGER 레버리지,14160,5,-205,-1.43,14194.0,16.2216,174534,2481,269
167,306520,3,HANARO 200선물인버스,12445,2,75,0.61,12443.0,-9.4768,65239,808,230
169,253160,3,ARIRANG 200선물인버스2X,8220,2,125,1.54,8227.0,-19.6128,212473,1741,222
173,225800,3,KOSEF 미국달러선물레버리지,9805,2,60,0.62,9812.0,-1.1664,538,5,208
174,137930,3,마이다스 200커버드콜5%OTM,12905,3,0,0.00,12831.0,3.9468,0,0,206
176,230480,3,KOSEF 미국달러선물인버스2X,7895,5,-15,-0.19,7904.0,0.0000,272,2,201
187,152500,3,KINDEX 레버리지,5930,5,-95,-1.58,5944.0,16.0886,90222,536,178
221,306950,3,KODEX KRX300레버리지,12265,5,-180,-1.45,12276.0,17.7946,5156,63,135
227,291630,3,KOSEF 코스닥150선물레버리지,5815,5,-145,-2.43,5793.0,30.5585,11170,65,129
271,253150,3,ARIRANG 200선물레버리지,27150,5,-490,-1.77,27138.0,16.2321,36584,996,95
297,307010,3,KBSTAR KRX300레버리지,12130,5,-250,-2.02,12141.0,19.3253,162,1,85
306,253230,3,KOSEF 200선물인버스2X,4075,2,15,0.37,4096.0,-19.2843,37656,153,82
349,166400,3,TIGER 200커버드콜5%OTM,12825,3,0,0.00,12820.0,4.0145,0,0,64
360,307610,3,TIGER KRX300레버리지,12160,5,-90,-0.73,12082.0,18.3574,8,0,61
362,301410,3,ARIRANG 코스닥150선물인버스,8075,2,115,1.44,8098.0,-16.0338,9131,73,61
366,145670,3,KINDEX 인버스,6615,2,60,0.92,6616.0,-9.7108,4786,31,60
384,253240,3,KOSEF 200선물인버스,6980,2,25,0.36,7005.0,-9.7340,15,0,54
385,291620,3,KOSEF 코스닥150선물인버스,9250,2,135,1.48,9251.0,-15.6800,1932,17,54
392,306530,3,HANARO 코스닥150선물레버리지,11735,5,-300,-2.49,11707.0,30.2489,764,8,52
404,307020,3,KBSTAR KRX300선물인버스,7990,2,95,1.20,7970.0,-11.1424,2404,19,48
416,252410,3,KBSTAR 200선물인버스,7015,2,60,0.86,7014.0,-9.6754,590,4,42
432,306960,3,KODEX KRX300선물인버스,7910,2,60,0.76,7952.0,-10.3370,109,0,32
433,307620,3,TIGER KRX300선물인버스,7790,2,190,2.50,7828.0,-11.6280,31,0,31

In [45]:
df[df["etfTabCode"] == 4].sort_values(by="quant", ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
98,219390,4,KBSTAR 미국S&P원유생산기업(합성 H),2035,5,-110,-5.13,NaN,-28.2609,625610,1281,504
45,314250,4,KODEX 미국FANG플러스(H),20630,5,-355,-1.69,NaN,26.4156,138805,2858,1970
36,192090,4,TIGER 차이나CSI300,10725,2,40,0.37,NaN,18.4589,119265,1275,2874
39,204480,4,TIGER 차이나CSI300레버리지(합성),25830,5,-40,-0.15,NaN,34.9152,99458,2571,2506
81,256750,4,KODEX 심천ChiNext(합성),10965,5,-45,-0.41,NaN,17.1899,58983,640,691
25,133690,4,TIGER 미국나스닥100,59875,5,-840,-1.38,NaN,13.7091,53585,3203,4191
163,276650,4,KBSTAR 글로벌4차산업IT(합성 H),17175,5,-460,-2.61,NaN,13.0448,44578,768,232
164,360750,4,TIGER 미국S&P500,10060,5,-110,-1.08,NaN,NaN,41245,413,231
51,275980,4,TIGER 글로벌4차산업혁신기술(합성 H),14325,5,-150,-1.04,NaN,8.3863,38676,553,1676
133,360200,4,KINDEX 미국S&P500,10170,5,-120,-1.17,NaN,NaN,37306,378,305

In [40]:
df[df["etfTabCode"] == 5]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
21,261220,5,KODEX WTI원유선물(H),5870,5,-130,-2.17,NaN,-2.2005,958030,5625,5540
40,132030,5,KODEX 골드선물(H),13440,5,-20,-0.15,NaN,11.2396,74627,1004,2500
52,144600,5,KODEX 은선물(H),5640,5,-85,-1.48,NaN,49.6732,344940,1951,1658
55,130680,5,TIGER 원유선물Enhanced(H),1925,5,-20,-1.03,NaN,1.5665,615267,1182,1529
117,137610,5,TIGER 농산물선물Enhanced(H),4285,2,20,0.47,NaN,4.5343,19322,82,356
243,271060,5,KODEX 3대농산물선물(H),7515,2,75,1.01,NaN,5.8321,17353,129,115
281,160580,5,TIGER 구리실물,7435,5,-85,-1.13,NaN,15.8705,571,4,91
299,139320,5,TIGER 금은선물(H),10570,5,-25,-0.24,NaN,14.1702,773,8,85
304,334690,5,KBSTAR 팔라듐선물(H),13655,5,-45,-0.33,NaN,16.2494,2280,30,82
312,271050,5,KODEX WTI원유선물인버스(H),17280,2,320,1.89,NaN,-0.7898,5771,99,78
324,138920,5,KODEX 콩선물(H),8190,5,-5,-0.06,NaN,11.0433,3686,30,74
328,138910,5,KODEX 구리선물(H),5620,5,-65,-1.14,NaN,13.8138,17580,98,73
435,139310,5,TIGER 금속선물(H),4940,2,10,0.20,NaN,11.6647,5033,24,30
444,334700,5,KBSTAR 팔라듐선물인버스(H),5450,5,-25,-0.46,NaN,-15.5745,502,2,22

In [41]:
df[df["etfTabCode"] == 6]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
4,153130,6,KODEX 단기채권,102465,3,0,0.00,102468.0,0.0976,11274,1155,17629
5,273130,6,KODEX 종합채권(AA-이상)액티브,110405,5,-65,-0.06,110377.0,-0.0182,1523,168,13432
7,157450,6,TIGER 단기통안채,100655,5,-5,0.00,100657.0,0.1093,196,19,12022
12,214980,6,KODEX 단기채권PLUS,102685,5,-5,0.00,102689.0,0.1462,831,85,8606
16,272580,6,TIGER 단기채권액티브,50460,3,0,0.00,50461.0,0.1687,1122,56,7013
28,190620,6,KINDEX 단기통안채,100795,3,0,0.00,100794.0,0.1092,391,39,3892
32,306540,6,HANARO 단기통안채,102725,3,0,0.00,102737.0,0.1023,0,0,3342
41,148070,6,KOSEF 국고채10년,126160,5,-140,-0.11,126128.0,-0.4650,911,114,2246
50,196230,6,KBSTAR 단기통안채,103995,3,0,0.00,104002.0,0.1155,44252,4602,1681
62,273140,6,KODEX 단기변동금리부채권액티브,102190,3,0,0.00,102195.0,0.0685,0,0,1166
72,302190,6,TIGER 중장기국채,53750,5,-35,-0.07,53733.0,-0.3151,4,0,785
75,272560,6,KBSTAR 단기국공채액티브,101400,3,0,0.00,101405.0,0.1877,10245,1038,767
79,114260,6,KODEX 국고채3년,58025,5,-20,-0.03,58033.0,0.0689,901,52,731
83,336160,6,KBSTAR 금융채액티브,102635,5,-20,-0.02,102603.0,0.2881,12003,1231,657
87,122260,6,KOSEF 통안채1년,102190,2,10,0.01,102188.0,0.1224,221878,22672,593
96,136340,6,KBSTAR 중기우량회사채,104615,5,-75,-0.07,104620.0,0.4451,52,5,513
100,305080,6,TIGER 미국채10년선물,12675,2,40,0.32,NaN,0.5571,6865,87,482
101,114820,6,TIGER 국채3년,111435,2,45,0.04,111416.0,-0.0270,594,66,468
103,130730,6,KOSEF 단기자금,101770,2,5,0.00,101764.0,0.1180,391616,39852,457
108,176950,6,KODEX 국채선물10년인버스,45575,2,105,0.23,45610.0,0.4861,1,0,413
110,356540,6,KINDEX KIS종합채권(AA-이상)액티브,99910,3,0,0.00,99851.0,NaN,0,0,400
112,114100,6,KBSTAR 국고채3년,113590,5,-80,-0.07,113632.0,0.1144,121,13,375
113,278620,6,ARIRANG 단기채권액티브,105555,3,0,0.00,105552.0,0.1090,59,6,374
120,114470,6,KOSEF 국고채3년,113105,5,-5,0.00,113076.0,0.1416,43,4,339
127,272570,6,KBSTAR 중장기국공채액티브,103880,5,-95,-0.09,103910.0,0.2361,9,0,320
130,329750,6,TIGER 미국달러단기채권액티브,10200,2,35,0.34,NaN,-0.3920,5640,57,311
145,332620,6,ARIRANG 미국장기우량회사채,107055,2,645,0.61,NaN,1.9887,107,11,268
148,272910,6,KINDEX 중장기국공채액티브,102980,5,-35,-0.03,102925.0,-0.0039,10,1,265
159,152380,6,KODEX 국채선물10년,71865,5,-65,-0.09,71849.0,-0.7863,319,22,237
161,304660,6,KODEX 미국채울트라30년선물(H),13775,2,75,0.55,NaN,2.6217,18242,251,234
165,332610,6,ARIRANG 미국단기우량회사채,100555,2,190,0.19,NaN,-0.3624,17,1,231
180,114460,6,KINDEX 중기국고채,107535,2,15,0.01,107487.0,0.0511,1,0,194
182,295000,6,KBSTAR 국채선물10년,57155,5,-20,-0.03,57143.0,-0.7810,9,0,190
193,284430,6,KODEX 200미국채혼합,12230,5,-5,-0.04,12215.0,3.6864,3303,40,166
204,182490,6,TIGER 단기선진하이일드(합성 H),11580,5,-55,-0.47,NaN,1.9719,1001,11,151
230,167860,6,KOSEF 국고채10년레버리지,140280,5,-395,-0.28,140217.0,-1.2600,98,13,126
249,308620,6,KODEX 미국채10년선물,12360,2,30,0.24,NaN,0.7764,1600,19,111
255,239660,6,ARIRANG 우량회사채50 1년,108165,2,5,0.00,108160.0,0.1157,193,20,108
263,363510,6,SMART KIS단기통안채,100010,3,0,0.00,100007.0,NaN,3,0,101
270,346000,6,HANARO KAP초장기국고채,50300,5,-15,-0.03,50220.0,-1.4108,10,0,96
310,302170,6,TIGER 국채선물3년인버스,49620,3,0,0.00,49631.0,0.1918,0,0,79
313,302200,6,TIGER 중장기국채선물인버스,48115,3,0,0.00,48130.0,0.4908,0,0,77
315,289670,6,ARIRANG 국채선물10년,57965,5,-70,-0.12,57954.0,-0.6846,177,10,77
321,302180,6,TIGER 국채선물10년인버스,46795,3,0,0.00,46842.0,0.8078,0,0,75
337,298340,6,ARIRANG 국채선물3년,53400,3,0,0.00,53403.0,-0.1123,0,0,70
351,302210,6,TIGER 중장기국채선물인버스2X,45120,3,0,0.00,45289.0,0.6244,0,0,63
355,342600,6,KBSTAR KRX국채선물3년10년스티프너2X,51230,2,25,0.05,51214.0,0.4216,3,0,61
356,176710,6,파워 중기국고채,102275,3,0,0.00,102238.0,0.0792,0,0,61
358,342500,6,KBSTAR KRX국채선물3년10년스티프너,50775,2,10,0.02,50756.0,0.1973,3,0,61
364,342610,6,KBSTAR KRX국채선물3년10년플래트너,49930,5,-10,-0.02,49924.0,-0.0201,3,0,60
367,342620,6,KBSTAR KRX국채선물3년10년플래트너2X,49560,3,0,0.00,49526.0,-0.0505,3,0,59
399,292770,6,KODEX 국채선물3년인버스,49595,3,0,0.00,49610.0,0.1413,0,0,51
400,299080,6,KINDEX 국채선물3년인버스,99070,3,0,0.00,99088.0,0.2174,0,0,50
408,299070,6,KINDEX 국채선물10년인버스,92410,3,0,0.00,92498.0,0.8732,0,0,46
415,263190,6,ARIRANG 단기우량채권,53060,3,0,0.00,53071.0,-0.0942,132,7,42
423,295020,6,KBSTAR 국채선물10년인버스,46140,2,60,0.13,46114.0,0.8425,13,0,38

In [ ]:
\