## KPI200

* https://finance.naver.com/sise/sise_index.nhn?code=KPI200

In [1]:
import pandas as pd

In [2]:
table = pd.read_html("https://finance.naver.com/sise/entryJongmok.nhn?&page=1", 
                     encoding="cp949")
len(table)

2

In [3]:
table[0].dropna()

         종목별        현재가      전일비     등락률         거래량  거래대금(백만)    시가총액(억)
1       삼성전자    58200.0      0.0   0.00%  13538073.0  791828.0  3474413.0
2     SK하이닉스    84000.0   1500.0  +1.82%   4477093.0  377057.0   611522.0
3      NAVER   296500.0   2000.0  -0.67%    648867.0  192582.0   487041.0
4       LG화학   654000.0  28000.0  +4.47%    655754.0  425868.0   461674.0
5   삼성바이오로직스   690000.0   5000.0  +0.73%     63300.0   43666.0   456538.0
6        현대차   178500.0   3000.0  +1.71%   1403988.0  250806.0   381398.0
7       셀트리온   257500.0   2500.0  +0.98%    636839.0  162955.0   347609.0
8        카카오   364500.0   4500.0  -1.22%    583805.0  214825.0   321009.0
9      삼성SDI   433500.0  12500.0  +2.97%    268142.0  115636.0   298094.0
10    LG생활건강  1448000.0  21000.0  -1.43%     24152.0   35380.0   226151.0

In [4]:
table[1]

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

##  페이지별 데이터 수집

In [5]:
def get_page(page_no):
    url = f"https://finance.naver.com/sise/entryJongmok.nhn?&page={page_no}"
    table = pd.read_html(url, encoding="cp949")
    result = table[0].dropna()
    return result

In [6]:
KPI200_list = []
for page_no in range(1, 21):
    response = get_page(page_no)
    KPI200_list.append(response)

In [7]:
df = pd.concat(KPI200_list)
df.shape

(200, 7)

In [8]:
df.head()

        종목별       현재가      전일비     등락률         거래량  거래대금(백만)    시가총액(억)
1      삼성전자   58200.0      0.0   0.00%  13538073.0  791828.0  3474413.0
2    SK하이닉스   84000.0   1500.0  +1.82%   4477093.0  377057.0   611522.0
3     NAVER  296500.0   2000.0  -0.67%    648867.0  192582.0   487041.0
4      LG화학  654000.0  28000.0  +4.47%    655754.0  425868.0   461674.0
5  삼성바이오로직스  690000.0   5000.0  +0.73%     63300.0   43666.0   456538.0

In [9]:
df.tail()

      종목별       현재가     전일비     등락률       거래량  거래대금(백만)  시가총액(억)
6    태영건설    9890.0   140.0  +1.44%  662487.0    6495.0   3847.0
7   세아베스틸    9760.0   230.0  +2.41%  101734.0     994.0   3500.0
8    롯데푸드  299500.0  7500.0  +2.57%    1424.0     422.0   3390.0
9      대교    3900.0     5.0  -0.13%  107878.0     421.0   3303.0
10  한라홀딩스   31050.0  1100.0  +3.67%   89587.0    2753.0   3252.0

In [10]:
import datetime

today = datetime.date.today()
today = today.strftime("%Y-%m-%d")
today

'2020-09-30'

In [11]:
df["날짜"] = today

In [12]:
df.index = range(1, 201)

In [13]:
df.head(10)

,종목별,현재가,전일비,등락률,거래량,거래대금(백만),시가총액(억),날짜
1,삼성전자,58200.0,0.0,0.00%,13538073.0,791828.0,3474413.0,2020-09-30
2,SK하이닉스,84000.0,1500.0,+1.82%,4477093.0,377057.0,611522.0,2020-09-30
3,NAVER,296500.0,2000.0,-0.67%,648867.0,192582.0,487041.0,2020-09-30
4,LG화학,654000.0,28000.0,+4.47%,655754.0,425868.0,461674.0,2020-09-30
5,삼성바이오로직스,690000.0,5000.0,+0.73%,63300.0,43666.0,456538.0,2020-09-30
6,현대차,178500.0,3000.0,+1.71%,1403988.0,250806.0,381398.0,2020-09-30
7,셀트리온,257500.0,2500.0,+0.98%,636839.0,162955.0,347609.0,2020-09-30
8,카카오,364500.0,4500.0,-1.22%,583805.0,214825.0,321009.0,2020-09-30
9,삼성SDI,433500.0,12500.0,+2.97%,268142.0,115636.0,298094.0,2020-09-30
10,LG생활건강,1448000.0,21000.0,-1.43%,24152.0,35380.0,226151.0,2020-09-30

In [14]:
df.tail(10)

       종목별       현재가     전일비     등락률       거래량  거래대금(백만)  시가총액(억)          날짜
191   남해화학    8200.0   160.0  +1.99%   83002.0     674.0   4074.0  2020-09-30
192    유니드   44650.0   700.0  +1.59%   18053.0     805.0   3969.0  2020-09-30
193     LF   13400.0   100.0  -0.74%  112306.0    1511.0   3918.0  2020-09-30
194    BGF    4080.0    20.0  +0.49%   72476.0     295.0   3905.0  2020-09-30
195   세방전지   27600.0   850.0  +3.18%   22663.0     620.0   3864.0  2020-09-30
196   태영건설    9890.0   140.0  +1.44%  662487.0    6495.0   3847.0  2020-09-30
197  세아베스틸    9760.0   230.0  +2.41%  101734.0     994.0   3500.0  2020-09-30
198   롯데푸드  299500.0  7500.0  +2.57%    1424.0     422.0   3390.0  2020-09-30
199     대교    3900.0     5.0  -0.13%  107878.0     421.0   3303.0  2020-09-30
200  한라홀딩스   31050.0  1100.0  +3.67%   89587.0    2753.0   3252.0  2020-09-30

In [15]:
df.shape

(200, 8)

## 종목코드 수집

In [16]:
import requests
from bs4 import BeautifulSoup as bs

In [17]:
url = f"https://finance.naver.com/sise/entryJongmok.nhn?&page={page_no}"

In [18]:
response = requests.get(url)

In [19]:
html = bs(response.text, "lxml")
a_tags = html.select("table > tr > td > a")
a_tags[:10]

[<a href="/item/main.nhn?code=025860" target="_parent">남해화학</a>,
 <a href="/item/main.nhn?code=014830" target="_parent">유니드</a>,
 <a href="/item/main.nhn?code=093050" target="_parent">LF</a>,
 <a href="/item/main.nhn?code=027410" target="_parent">BGF</a>,
 <a href="/item/main.nhn?code=004490" target="_parent">세방전지</a>,
 <a href="/item/main.nhn?code=009410" target="_parent">태영건설</a>,
 <a href="/item/main.nhn?code=001430" target="_parent">세아베스틸</a>,
 <a href="/item/main.nhn?code=002270" target="_parent">롯데푸드</a>,
 <a href="/item/main.nhn?code=019680" target="_parent">대교</a>,
 <a href="/item/main.nhn?code=060980" target="_parent">한라홀딩스</a>]

In [20]:
href_list = []
for a_tag in a_tags[:10]:
    href = a_tag["href"].split("=")[-1]
    href_list.append(href)

In [21]:
href_list

['025860',
 '014830',
 '093050',
 '027410',
 '004490',
 '009410',
 '001430',
 '002270',
 '019680',
 '060980']

In [22]:
def get_item_code(page_no):
    url = f"https://finance.naver.com/sise/entryJongmok.nhn?&page={page_no}"
    response = requests.get(url)
    html = bs(response.text, "lxml")
    a_tags = html.select("table > tr > td > a")
    a_tags[:10]

    href_list = []
    for a_tag in a_tags[:10]:
        href = a_tag["href"].split("=")[-1]
        href_list.append(href)
    return href_list

In [23]:
get_item_code(1)

['005930',
 '000660',
 '035420',
 '051910',
 '207940',
 '005380',
 '068270',
 '035720',
 '006400',
 '051900']

In [24]:
item_code_list = []
for page_no in range(1, 21):
    item_code_10 = get_item_code(page_no)
    item_code_list.extend(item_code_10)

In [25]:
len(item_code_list)

200

In [26]:
df.shape

(200, 8)

In [27]:
df["종목코드"] = item_code_list

In [28]:
df.head(10)

,종목별,현재가,전일비,등락률,거래량,거래대금(백만),시가총액(억),날짜,종목코드
1,삼성전자,58200.0,0.0,0.00%,13538073.0,791828.0,3474413.0,2020-09-30,005930
2,SK하이닉스,84000.0,1500.0,+1.82%,4477093.0,377057.0,611522.0,2020-09-30,000660
3,NAVER,296500.0,2000.0,-0.67%,648867.0,192582.0,487041.0,2020-09-30,035420
4,LG화학,654000.0,28000.0,+4.47%,655754.0,425868.0,461674.0,2020-09-30,051910
5,삼성바이오로직스,690000.0,5000.0,+0.73%,63300.0,43666.0,456538.0,2020-09-30,207940
6,현대차,178500.0,3000.0,+1.71%,1403988.0,250806.0,381398.0,2020-09-30,005380
7,셀트리온,257500.0,2500.0,+0.98%,636839.0,162955.0,347609.0,2020-09-30,068270
8,카카오,364500.0,4500.0,-1.22%,583805.0,214825.0,321009.0,2020-09-30,035720
9,삼성SDI,433500.0,12500.0,+2.97%,268142.0,115636.0,298094.0,2020-09-30,006400
10,LG생활건강,1448000.0,21000.0,-1.43%,24152.0,35380.0,226151.0,2020-09-30,051900