## 네트워크의 JS탭을 확인


* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)

In [1]:
import pandas as pd

In [2]:
url = "https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc"

In [3]:
# requests 라이브러리를 통해 url을 받아옵니다.
import requests
response = requests.get(url)

In [4]:
# requests 의 응답을 json 타입으로 받습니다.
etf_json = response.json()

In [68]:
# result > etfItemList 의 하위 구조로 목록을 찾아 들어갑니다.
etfItemList = etf_json["result"]["etfItemList"]

In [69]:
df = pd.DataFrame(etfItemList)
df.shape

(462, 12)

In [70]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722
1,102110,1,TIGER 200,33990,2,720,2.16,34052.0,3.2011,1723376,58402,24099
2,252670,3,KODEX 200선물인버스2X,3440,5,-155,-4.31,3443.0,-9.4459,190053729,659854,22081
3,122630,3,KODEX 레버리지,17565,2,725,4.31,17687.0,5.3158,67830197,1181560,21008
4,153130,6,KODEX 단기채권,102570,2,5,0.00,102568.0,0.1024,12321,1263,19853

In [71]:
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
457,284980,2,KBSTAR 200금융,7675,2,205,2.74,7669.0,4.4025,2052,15,23
458,217770,4,TIGER 원유선물인버스(H),11075,5,-100,-0.89,NaN,1.4986,1118,12,22
459,334700,5,KBSTAR 팔라듐선물인버스(H),5325,2,35,0.66,NaN,-7.8398,502,2,21
460,287310,2,KBSTAR 200경기소비재,9520,2,110,1.17,9517.0,7.0534,110,1,19
461,287300,2,KBSTAR 200건설,8315,2,220,2.72,8324.0,-4.9883,179,1,18

In [109]:
import datetime

today = datetime.datetime.today()
today = today.strftime("%Y-%m-%d")
today

'2020-11-16'

In [115]:
file_name = f"eft_{today}.csv"

In [116]:
df.to_csv(file_name, index=False)

In [117]:
pd.read_csv(file_name)

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),탭명,브랜드명,인버스,레버리지,환헷지H
0,69500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722,국내 시장지수,KODEX,False,False,False
1,102110,1,TIGER 200,33990,2,720,2.16,34052.0,3.2011,1723376,58402,24099,국내 시장지수,TIGER,False,False,False
2,252670,3,KODEX 200선물인버스2X,3440,5,-155,-4.31,3443.0,-9.4459,190053729,659854,22081,국내 파생,KODEX,True,False,False
3,122630,3,KODEX 레버리지,17565,2,725,4.31,17687.0,5.3158,67830197,1181560,21008,국내 파생,KODEX,False,True,False
4,153130,6,KODEX 단기채권,102570,2,5,0.00,102568.0,0.1024,12321,1263,19853,채권,KODEX,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,284980,2,KBSTAR 200금융,7675,2,205,2.74,7669.0,4.4025,2052,15,23,국내 업종/테마,KBSTAR,False,False,False
458,217770,4,TIGER 원유선물인버스(H),11075,5,-100,-0.89,NaN,1.4986,1118,12,22,해외 주식,TIGER,True,False,True
459,334700,5,KBSTAR 팔라듐선물인버스(H),5325,2,35,0.66,NaN,-7.8398,502,2,21,원자재,KBSTAR,True,False,True
460,287310,2,KBSTAR 200경기소비재,9520,2,110,1.17,9517.0,7.0534,110,1,19,국내 업종/테마,KBSTAR,False,False,False
461,287300,2,KBSTAR 200건설,8315,2,220,2.72,8324.0,-4.9883,179,1,18,국내 업종/테마,KBSTAR,False,False,False

In [72]:
df.sort_values(["quant"], ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,3440,5,-155,-4.31,3443.0,-9.4459,190053729,659854,22081
3,122630,3,KODEX 레버리지,17565,2,725,4.31,17687.0,5.3158,67830197,1181560,21008
13,114800,3,KODEX 인버스,4975,5,-105,-2.07,4976.0,-4.5113,36086179,180271,9234
23,251340,3,KODEX 코스닥150선물인버스,5310,5,-60,-1.12,5321.0,3.6679,35458554,188518,5352
9,233740,1,KODEX 코스닥150 레버리지,12020,2,275,2.34,12085.0,-14.5197,26383358,317098,11323
25,229200,1,KODEX 코스닥 150,12890,2,115,0.90,12980.0,-6.2042,7931482,102265,5079
0,069500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722
64,252710,3,TIGER 200선물인버스2X,3560,5,-160,-4.30,3559.0,-9.4891,4079561,14663,1214
57,267770,3,TIGER 200선물레버리지,13225,2,550,4.34,13231.0,5.4054,3260372,42706,1547
24,261220,5,KODEX WTI원유선물(H),6255,2,15,0.24,NaN,-6.7265,2330055,14551,5129

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            462 non-null    object
 1   etfTabCode          462 non-null    int64
 2   itemname            462 non-null    object
 3   nowVal              462 non-null    int64
 4   risefall            462 non-null    object
 5   changeVal           462 non-null    int64
 6   changeRate          462 non-null    float64
 7   nav                 345 non-null    float64
 8   threeMonthEarnRate  438 non-null    float64
 9   quant               462 non-null    int64
 10  amonut              462 non-null    int64
 11  marketSum           462 non-null    int64
dtypes: float64(3), int64(6), object(3)
memory usage: 43.4+ KB

In [74]:
df["etfTabCode"].value_counts()

2    174
4     87
1     64
6     57
7     33
3     33
5     14
Name: etfTabCode, dtype: int64

In [75]:
df[df["etfTabCode"] == 1]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722
1,102110,1,TIGER 200,33990,2,720,2.16,34052.0,3.2011,1723376,58402,24099
7,278530,1,KODEX 200TR,10915,2,240,2.25,10940.0,3.2897,257091,2797,12492
9,233740,1,KODEX 코스닥150 레버리지,12020,2,275,2.34,12085.0,-14.5197,26383358,317098,11323
10,278540,1,KODEX MSCI Korea TR,10890,2,235,2.21,10901.0,3.5471,319371,3439,10215
...,...,...,...,...,...,...,...,...,...,...,...,...
408,226980,1,KODEX 200 중소형,10450,2,90,0.87,10453.0,5.7682,432,4,52
417,291610,1,KOSEF 코스닥150선물,8290,2,95,1.16,8287.0,-6.3964,885,7,49
426,301400,1,ARIRANG 코스닥150,12795,2,135,1.07,12874.0,-5.9785,1438,18,45
432,295820,1,ARIRANG 200동일가중,9165,2,120,1.33,9162.0,3.0769,4,0,41
438,275750,1,KBSTAR 코스닥150선물인버스,5590,5,-65,-1.15,5593.0,3.9522,69851,390,39

In [76]:
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722
1,102110,1,TIGER 200,33990,2,720,2.16,34052.0,3.2011,1723376,58402,24099
2,252670,3,KODEX 200선물인버스2X,3440,5,-155,-4.31,3443.0,-9.4459,190053729,659854,22081
3,122630,3,KODEX 레버리지,17565,2,725,4.31,17687.0,5.3158,67830197,1181560,21008
4,153130,6,KODEX 단기채권,102570,2,5,0.00,102568.0,0.1024,12321,1263,19853
...,...,...,...,...,...,...,...,...,...,...,...,...
457,284980,2,KBSTAR 200금융,7675,2,205,2.74,7669.0,4.4025,2052,15,23
458,217770,4,TIGER 원유선물인버스(H),11075,5,-100,-0.89,NaN,1.4986,1118,12,22
459,334700,5,KBSTAR 팔라듐선물인버스(H),5325,2,35,0.66,NaN,-7.8398,502,2,21
460,287310,2,KBSTAR 200경기소비재,9520,2,110,1.17,9517.0,7.0534,110,1,19
461,287300,2,KBSTAR 200건설,8315,2,220,2.72,8324.0,-4.9883,179,1,18

### 컬럼명 바꾸기

In [77]:
cols = df.columns
len(cols), cols

(12,
 Index(['itemcode', 'etfTabCode', 'itemname', 'nowVal', 'risefall', 'changeVal',
        'changeRate', 'nav', 'threeMonthEarnRate', 'quant', 'amonut',
        'marketSum'],
       dtype='object'))

In [78]:
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)"""
col_name = col_name.split("\n")
len(col_name), col_name

(12,
 ['종목코드',
  '탭코드',
  '종목명',
  '현재가',
  '등락구분',
  '전일비',
  '등락률',
  '순자산가치(NAV)',
  '3개월수익률',
  '거래량',
  '거래대금(백만)',
  '시가총액(억)'])

In [79]:
dict(zip(cols, col_name))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)'}

In [80]:
df.columns = col_name
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억)
0,069500,1,KODEX 200,34010,2,725,2.18,34074.0,3.3406,6932307,234798,59722
1,102110,1,TIGER 200,33990,2,720,2.16,34052.0,3.2011,1723376,58402,24099
2,252670,3,KODEX 200선물인버스2X,3440,5,-155,-4.31,3443.0,-9.4459,190053729,659854,22081
3,122630,3,KODEX 레버리지,17565,2,725,4.31,17687.0,5.3158,67830197,1181560,21008
4,153130,6,KODEX 단기채권,102570,2,5,0.00,102568.0,0.1024,12321,1263,19853
...,...,...,...,...,...,...,...,...,...,...,...,...
457,284980,2,KBSTAR 200금융,7675,2,205,2.74,7669.0,4.4025,2052,15,23
458,217770,4,TIGER 원유선물인버스(H),11075,5,-100,-0.89,NaN,1.4986,1118,12,22
459,334700,5,KBSTAR 팔라듐선물인버스(H),5325,2,35,0.66,NaN,-7.8398,502,2,21
460,287310,2,KBSTAR 200경기소비재,9520,2,110,1.17,9517.0,7.0534,110,1,19
461,287300,2,KBSTAR 200건설,8315,2,220,2.72,8324.0,-4.9883,179,1,18